/* Estilos do header */

.header-container {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent #e5e7eb transparent; 
    -fx-border-width: 1px;
    -fx-padding: 10px 15px;
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    
}

.header-titulo {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1a56db;
    -fx-font-size: 26px;
    -fx-font-weight: 800;
}

/* Botão de Sair (Logout) */
.btn-sair {
    -fx-background-color: transparent; 
    -fx-border-color: #1a56db; 
    -fx-border-radius: 8px;
    -fx-padding: 8px 8px;
    -fx-cursor: hand;
}

.btn-sair:hover {
    -fx-background-color: #f3f4f6; 
}

.icon
{
    -fx-background-color: #1a56db;
    -fx-background-radius: 8px;
}