.container {
    -fx-background-color: #ffffff; 
}

.container-login
{
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-border-radius: 12px;
    -fx-border-color:#e2e4e5;
}

.titulo-login {
    -fx-text-fill: #1a56db;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.texto-cinza {
    -fx-text-fill: #6b7280;
    -fx-font-size: 14px;
}

.label-campo {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.campo-texto {
    -fx-background-color: #f3f4f6;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: #374151;
    -fx-prompt-text-fill: #9ca3af; 
}

.campo-texto:focused {
    -fx-border-color: #1a56db;
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-background-color: #ffffff; 
}

.botao-primario {
    -fx-background-color: #1a56db; 
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

.botao-primario:hover {
    -fx-background-color: #1e40af;
}

.botao-secundario {
    -fx-background-color: transparent;
    -fx-text-fill: #1a56db;
    -fx-border-color: #1a56db;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 4px;
    -fx-cursor: hand;
}

.botao-secundario:hover {
    -fx-background-color: #eff6ff;
}